<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>a77d1fe8d13e8ce73faa2521e1803daf9cd7a4e0</string>
	<key>clientSecret</key>
	<string>cfd04ab0d5dd61ae2bcf5c7417f6f61dc54f3762</string>
</dict>
</plist>
